<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- App Settings: Simple key-value pairs -->
	<appSettings>
		<add key="FilePath" value ="C:\\Users\\Admin\\Downloads\\Task_homework\\Task_homework\\logs.csv" />
	</appSettings>

	<!-- Connection Strings: Database connection information -->
	<connectionStrings>
		<add name="LocalDatabase"
			 connectionString="Server=DESKTOP-HCG2MMC;Database=CsvLogParserDb;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
